<<<<<<< HEAD
<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Family</a>
  is a social network <a href="http://rubyonrails.org/">Ruby on Rails Family</a>. This
  is the sample application.
=======
<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  The <a href="http://railstutorial.org/">Ruby on Rails Family</a>
  is a social network <a href="http://rubyonrails.org/">Ruby on Rails Family</a>. This
  is the sample application.
>>>>>>> 7dfc48e6a4cfc7ee922a09d3afb1d21ae7ecb985
</p>