

<!-- Carousel
================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item active">
<<<<<<< HEAD
      <img src="https://www.scalablepath.com/marketing/images/services/rubyonrails-a1b2b39.jpg" alt="">
=======
      <img src="http://i.imgur.com/C0LaM1h.jpg" alt="">
>>>>>>> 7dfc48e6a4cfc7ee922a09d3afb1d21ae7ecb985
      <div class="container">
        <div class="carousel-caption">
          <h1>Example headline.</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <%= link_to "Sign up now!", signup_path,
                      class: "btn btn-large btn-primary" %>
        </div>
      </div>
    </div>
    <div class="item">
<<<<<<< HEAD
      <img src="http://blog.elittlejohn.com/wp-content/uploads/2013/09/47_ruby.png" alt="">
=======
      <img src="http://www.jennylian.com/wp-content/uploads/2014/08/ruby.png" alt="">
>>>>>>> 7dfc48e6a4cfc7ee922a09d3afb1d21ae7ecb985
      <div class="container">
        <div class="carousel-caption">
          <h1>Another example headline.</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a class="btn btn-large btn-primary" href="#">Learn more</a>
        </div>
      </div>
    </div>
    <div class="item">
<<<<<<< HEAD
      <img src="http://harshvardhanparihar.files.wordpress.com/2013/11/iloveruby.jpg" alt="">
=======
      <img src="http://dhwlijwe9jil7.cloudfront.net/files/2012/07/4/companies-using-ruby-on-rails.jpg" alt="">
>>>>>>> 7dfc48e6a4cfc7ee922a09d3afb1d21ae7ecb985
      <div class="container">
        <div class="carousel-caption">
          <h1>One more for good measure.</h1>
          <p class="lead">Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
          <a class="btn btn-large btn-primary" href="#">Browse gallery</a>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div><!-- /.carousel -->





