<<<<<<< HEAD
<footer class="modal-footer nav-header ">
  <small>
    <a href="#">Ruby on Rails Family</a>
    by Viktorija Filipov
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="#">News</a></li>
    </ul>
  </nav>
=======
<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">Ruby on Rails Family</a>
    by Viktorija Filipov
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
>>>>>>> 7dfc48e6a4cfc7ee922a09d3afb1d21ae7ecb985
</footer>